<div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        
        <div class="modal-header">
            <h4 class="modal-title">Novo pagamento</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <form action="/contratos/detalhes_contrato/{{pagamento.id_contrato}}" method="post">
                {% csrf_token %}
                <input type="hidden" name="novo_pagamento" value="{{pagamento.id_contrato}}">
                {{form_pagamento.as_p}}
                
            </div>
            
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Salvar</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
            </div>
            </form>
        </div>
    </div>
</div>
