<!-- templates/home.html-->
<style>
.irParaLogin {
    padding: 250px;
    border: 5px;
    text-align: center;
}

.logoAlerte {
    Padding: 5px;
}

</style>

{% extends 'base.html' %}

{% block title %}Home - GDC admin {% endblock %}


{% block content %} 

{% if user.is_authenticated %}

    {% else %}
    <div class="card">
        <div class="card-body">
            <div class="irParaLogin" align="center">    
                <div class="logoAlerte"> 
                    <img src="https://s2.glbimg.com/CAn_fdiAli0BWGoKby0B2fDBuS8=/640x424/top/i.glbimg.com/og/ig/infoglobo1/f/original/2021/02/22/governodorio.jpeg" alt="drawing" width="400"/>
                </div>
                <p>Por favor faça o login</p>
                <a href="{% url 'login' %}">Log In</a>
            </div>
        </div>
    </div>
    {% endif %}
    {% endblock %}